/*images*/
//$header-background-image: url("../images/card.jpg");
// $logo-image:url("../images/logotest.png");
// $slider-image-1:url("../images/a.jpg");
// $slider-image-2:url("../images/b.jpg");
// $slider-image-3:url("../images/c.jpg");
// $slider-image-4:url("../images/d.jpg");
// $slider-image-5:url("../images/e.jpg");

$page-background: url('../images/pinkbg.jpg');

/*hb*/
$logo-image:url("../images/hblogo.png");
$slider-image-1:url("../images/carousel/1.jpg");
$slider-image-2:url("../images/carousel/2.jpg");
$slider-image-3:url("../images/carousel/6.jpg");
$slider-image-4:url("../images/carousel/4.jpg");
$slider-image-5:url("../images/carousel/5.jpg");

/*gallery before/after*/

/*homepage images*/
$home-image-1: url('../images/homepage/1.jpg');
$home-image-2: url('../images/homepage/2.jpg');
$home-image-3: url('../images/homepage/3.jpg');
$home-image-4: url('../images/homepage/4.jpg');
$home-image-5: url('../images/homepage/5.jpg');
$home-image-6: url('../images/homepage/6.jpg');

/*font families*/
$default-font-family: "Century Gothic";

$header-font-size: 2rem;
$header-font-color: #000;
$header-font-weight: 500;

$sentence-font-size: 1rem;
$sentence-font-color: #000;
$sentence-font-weight: 500;
