@charset "UTF-8";
/*images*/
/*hb*/
/*gallery before/after*/
/*homepage images*/
/*font families*/
/* colours n shit */
html,
body {
  font-family: "Century Gothic";
  scroll-behavior: smooth;
}

body {
  background-image: url("../images/pinkbg.jpg");
  background-size: 100% 100%;
}

p.photo-text {
  font-family: "Century Gothic";
  font-size: 1rem;
  opacity: 0.8;
}

ul,
li {
  list-style: none;
  display: inline-block;
  font-family: "Century Gothic";
}

.header {
  width: 100%;
  height: 4rem;
  background-color: #fff;
  opacity: 0.8;
}

.hidden {
  display: none !important;
}

.logo-container {
  margin-right: 8px;
  max-width: 9rem;
  display: inline-block;
  margin-left: 5%;
}

.logo-image {
  border-radius: 50%;
  background-image: url("../images/hblogo.png");
  background-size: cover;
  width: 9rem;
  min-height: 9rem;
}

.fixed {
  position: fixed;
}

.top {
  top: 0;
}

.right {
  right: 2.15rem;
}

.left {
  left: 0.5rem;
}

.head-navbar {
  border-radius: 8px;
  min-height: 4rem;
  width: auto;
  display: block;
}

#navbar {
  display: inline-block;
}

.hero {
  height: 40rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  margin: 4px;
}

.navbar-buttons-container {
  text-align: right;
  background-color: #fff;
  height: 4rem;
  float: right;
  padding-top: 0.4rem;
  position: fixed;
  right: 4.5%;
  top: 0;
}

.buttons-list {
  height: 100%;
}

.custom-btn {
  height: 100%;
  border-radius: 0 !important;
  border: none !important;
  background-color: transparent !important;
  position: relative;
  top: -0.7rem;
  padding: 0.1rem 0.75rem !important;
}
.custom-btn ::after {
  border: 1px solid #ccc !important;
}
.custom-btn:hover {
  color: #d75256 !important;
}

.divider {
  border-right: solid 1px #f2ccc3 !important;
  height: 3.5rem !important;
}

.slider-controls {
  position: relative;
  top: 50%;
  overflow-x: hidden;
}
.slider-controls .slider-btn {
  position: absolute;
  font-size: 50px;
  min-width: 5rem;
  color: #fff;
  border: none;
  background-color: transparent;
}
.slider-controls .slider-btn svg {
  font-size: 40px;
}
.slider-controls .slider-btn:hover {
  background-color: #000 !important;
  opacity: 0.8;
}
.slider-controls .slider-left {
  float: left;
  height: 88.5%;
  bottom: 2.4%;
}
.slider-controls .slider-right {
  float: right;
  height: 88.5%;
  right: 0px;
  bottom: 2.4%;
}

.slideshow {
  z-index: 10;
}

.buttom-circles li {
  color: #fff;
}

.buttom-circles-list {
  cursor: pointer;
}

/*main page*/
.text-container {
  background: #fff;
  opacity: 0.6;
  margin-top: 5%;
  font-family: "Century Gothic";
  color: #000;
}

.subtitle-header {
  font-family: "Century Gothic";
  font-size: 2rem;
  font-weight: 500;
  color: #000;
}

.sentence-text {
  font-family: "Century Gothic";
  font-size: 1rem;
  font-weight: 500;
  color: #000;
}

.align {
  margin-left: 25px;
  margin-right: 25px;
}

.separator {
  margin: 25px 0;
}

.photo-wrapper {
  background-color: #fff;
}

.gallery-inside-wrapper {
  background: transparent;
}

.card-wrapper {
  width: 100%;
}
.card-wrapper p {
  display: inline;
}
.card-wrapper:nth-of-type(odd) {
  background-color: rgba(255, 255, 255, 0.6);
  min-height: 290px;
}
.card-wrapper:nth-of-type(odd) .photo {
  position: absolute;
  right: 30px;
}
.card-wrapper:nth-of-type(odd) p {
  display: flex;
  padding-top: 100px;
  padding-left: 100px;
  white-space: pre-wrap;
}
.card-wrapper:nth-of-type(even) {
  min-height: 290px;
  border: 1px solid grey;
}
.card-wrapper:nth-of-type(even) .photo {
  position: absolute;
  left: 10px;
}
.card-wrapper:nth-of-type(even) p {
  padding-top: 7rem;
  display: flex;
  float: right;
  position: relative;
  right: -18rem;
  white-space: pre-wrap;
}

.photo {
  display: inline-block;
  background-size: contain;
  min-height: 250px;
  min-width: 250px;
  margin: 20px;
}

.custom-footer {
  margin-top: 1rem;
  background-color: rgba(255, 255, 255, 0.6);
}

.footer-buttons-container {
  column-count: 2;
  margin-top: 2rem;
}
.footer-buttons-container .buttons-list {
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
}
.footer-buttons-container .buttons-list .custom-btn {
  top: 0;
  padding: 6px 12px !important;
}

.footer-social-wrapper {
  margin: auto 0;
}
.footer-social-wrapper .social-wrap li, .footer-social-wrapper .social-wrap img {
  max-width: 2rem;
  max-height: 2rem;
}
.footer-social-wrapper .social-wrap li a {
  display: inline-block;
  height: 30px;
}
.footer-social-wrapper .social-wrap svg, .footer-social-wrapper .social-wrap path {
  height: 30px;
  width: 30px;
  fill: #d75256;
}
.footer-social-wrapper .social-wrap svg:hover, .footer-social-wrapper .social-wrap path:hover {
  fill: #f2ccc3;
}
.footer-social-wrapper .social-wrap i.material-icons {
  font-size: 2rem;
  position: relative;
  top: 2px;
  left: -30px;
  color: #d75256;
}
.footer-social-wrapper .social-wrap i.material-icons:hover {
  color: #f2ccc3;
}

.footer-extra {
  text-align: center;
  font-family: "Century Gothic";
  background-color: rgba(255, 255, 255, 0.6);
  border-top: 2px solid #000;
}

.beating-heart {
  animation: heartbeat 2s infinite;
}

.faq-wrapper {
  margin-top: 8%;
}

.page-title-wrapper {
  margin-bottom: 5%;
}

.row-wrapper {
  margin-top: 20px;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.6);
}

#pageloader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 9999;
}

.colored-border {
  border-color: #f69730 !important;
}

.loader-item {
  position: absolute;
  width: 44px;
  height: 44px;
  margin: -22px 0 0 -22px;
  top: 50%;
  left: 50%;
  text-align: center;
  background: white;
  border-left: 4px solid;
  border-right: 4px solid;
  border-top: 4px solid;
  border-bottom: 3px solid transparent !important;
  border-radius: 22px;
}

.project-thumb {
  overflow: hidden;
  position: relative;
  -webkit-backface-visibility: hidden;
  /* Chrome, Safari, Opera */
  backface-visibility: hidden;
}

.project-thumb img {
  width: 100%;
  min-height: 190px;
}

.project-slider {
  display: none;
  position: relative;
  z-index: 0;
}

@media screen and (max-width: 768px) {
  .projects-holder-2 .filter-categories {
    margin-bottom: 60px;
  }

  .projects-holder-2 .filter-categories ul li {
    display: inline-block;
    margin-right: 10px;
  }
}
.projects-holder-3 .filter-categories {
  margin-bottom: 60px;
}

.projects-holder-3 .filter-categories ul li {
  display: inline-block;
  margin-right: 10px;
}

.project-item {
  overflow: hidden;
  margin-bottom: 40px;
  background: rgba(255, 255, 255, 0.6);
  padding: 12px;
}

.project-item .project-detail h2 {
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 10px 0;
  display: block;
}

.project-item .project-detail h2 a {
  color: #2c2c2c;
}

.project-item .project-detail h2 a:hover {
  color: #f69730;
}

.project-item:hover .overlay-b {
  opacity: 1;
  visibility: visible;
}

.project-infos h2.project-title {
  font-size: 2em;
  font-weight: normal;
}

.project-infos span.project-subtitle {
  margin-top: 10px;
  display: inline-block;
}

.project-infos p {
  margin: 30px 0;
}

.project-infos ul.project-meta {
  border-top: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
  display: inline-block;
  padding: 12px 0;
}

.project-infos ul.project-meta li {
  display: inline-block;
  margin-right: 50px;
  font-family: "Roboto Slab", serif;
}

.project-infos ul.project-meta li:last-child {
  margin-right: 0;
}

.project-infos ul.project-meta li i {
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .project-infos h2.project-title {
    font-size: 1.6em;
  }

  .project-infos ul.project-meta li {
    margin-bottom: 10px;
  }

  .project-infos ul.project-meta li:last-child {
    margin-bottom: 0;
  }
}
.overlay-b {
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  bottom: 0;
  left: 0;
}

.overlay-b .overlay-inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.overlay-b .overlay-inner a {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -18px;
  margin-top: -18px;
  border: 1px solid #d5d5d5;
  width: 36px;
  height: 36px;
  display: block;
  text-align: center;
  line-height: 36px;
  color: white !important;
}

.overlay-b .overlay-inner svg {
  fill: #fff !important;
  font-size: 30px !important;
  color: #fff !important;
  position: relative;
  top: 45%;
  left: 45%;
}

.overlay-b .overlay-inner a:hover {
  color: #f69730;
  border-color: #f69730;
}

.project-item:hover .overlay-b {
  opacity: 1;
  visibility: visible;
}

.post-masonry .blog-thumb:hover .overlay-b {
  opacity: 1;
  visibility: visible;
}

.overlay-s {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin-top: 5%;
}

ul,
ol {
  list-style: none;
}

.main {
  width: 75%;
  margin: auto;
  overflow: hidden;
  color: #fff;
}

.slider {
  position: relative;
}

.slider .slider-parent {
  padding: 0;
  display: flex;
}

.slider .slider-parent .images-list {
  background-size: 100% 100%;
}

.slider .slider-parent .images-list:first-of-type,
.slider .slider-parent .images-list:last-of-type {
  background-image: url("../images/carousel/1.jpg");
}

.slider .slider-parent .images-list:nth-of-type(2) {
  background-image: url("../images/carousel/2.jpg");
}

.slider .slider-parent .images-list:nth-of-type(3) {
  background-image: url("../images/carousel/6.jpg");
}

.slider .slider-parent .images-list:nth-of-type(4) {
  background-image: url("../images/carousel/4.jpg");
}

.slider .slider-parent .images-list:nth-of-type(5) {
  background-image: url("../images/carousel/5.jpg");
}

.slider .buttom-circles {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  bottom: 10px;
}

.slider .buttom-circles .buttom-circles-list {
  display: inline-block;
}

.slider .buttom-circles .buttom-circles-list:hover .fa:before,
.slider .buttom-circles .buttom-circles-list.slider-active .fa:before {
  content: "";
}

@media (min-width: 100px) and (max-width: 767px) {
  .slider > .fa {
    font-size: 25px;
  }

  .slider .buttom-circles .buttom-circles-list {
    visibility: hidden;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .slider > .fa {
    font-size: 50px;
  }

  .slider .buttom-circles .buttom-circles-list {
    visibility: hidden;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .slider > .fa {
    font-size: 75px;
  }

  .slider .buttom-circles .buttom-circles-list {
    font-size: 17px;
  }
}
@media (min-width: 1200px) {
  .slider > .fa {
    font-size: 100px;
  }

  .slider .buttom-circles .buttom-circles-list {
    font-size: 25px;
  }
}
@keyframes heartbeat {
  0% {
    transform: scale(0.75);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.75);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(0.75);
  }
}

/*# sourceMappingURL=styles.css.map */
